@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.navbar{
  background: white;

}
.navbar-brand{
  color:#027144;
  font-weight: bold;
  font-size: 150%;
}


.navbar-brand:hover{
  color:#027144;
}

.logo{
  width:90px;
}

.navbar-toggler{
  color: green;
}

.nav-link{
  margin-left: 40px;
  border-radius: 25px 25px;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  color: black;
  transition: .35s;
  padding: 10px 30px;
}

.nav-link:hover{
  /* background: #027144; */
  background:#21B44E;
  color: white !important;
  transition: .55s;
  padding: 10px 30px;
}


img{
  margin-left: 40px;
}


.navbar-toggler{
  color: black;

}

#nav-toggle-button span {
    background-color: black;
}


@media(max-width: 400px){
  .navbar-brand{
    font-size: 100%;
  }
}
